<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.apps.hangman5878241"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/DeviceDefault.Light.ButtonBar" >
        <activity
            android:name="nl.mprog.apps.hangman5878241.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HighscoresActivity"></activity>
	  <activity
	    android:name=".SettingsActivity"
	    android:theme="@style/AppBaseTheme" >
	  </activity>    
  </application>

</manifest>
